* {
	box-sizing: border-box;
}

h3 {
	font-size: 36px;
}

.panel-title {
	font-size: 28px;
}

.jumbotron {
	background-color: lightpink;
} 

.panel-body{
	background-color: lightblue;
}

.panel-title{
	background-color: white;
}

.choices{
	background-color: lightgrey;
}